// main: build.less

@import 'foundation';
@import '../../node_modules/@studiomotio/micro-motion/micro-motion';

body {
  font-family: @font;
  font-weight: 400;
  margin-top: 40px;
  cursor: default;
  user-select: none;
}

p {
  margin: 50px 0;
  font-size: 15px;
  text-align: justify;
}

strong {
  font-weight: 600;
}

svg {
  fill: currentColor;
}

a {
  color: currentColor;
}

form {
  font-size: 13px;

  svg {
    width: 22px;
    fill: lighten(@base-color, 20%);
  }

  .column {
    margin-bottom: 20px;
  }
}

fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  border: none;
}

legend {
  margin-bottom: 5px;
  font-family: 'DINEngschriftStd';
  font-size: 20px;
  color: @vibrant-color;
  text-transform: uppercase;

  & + p {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 12px;
    font-weight: 100;
  }
}

label {
  display: flex;
  align-items: center;
}

button {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;

  &:hover svg {
    transform: scale(1.2);
    transition: transform 200ms ease;
  }

  &:focus svg {
    fill: @vibrant-color;
  }

  svg {
    margin-right: 7px;
  }
}

[type='range'] {
  height: 1px;
  -webkit-appearance: none;
  -moz-appearance: none;

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    background: @bright-color;
    border-radius: 5px;
    transition: all 200ms ease;
  }

  &::-webkit-slider-thumb {
    width: 9px;
    height: 9px;
    margin-top: -4px;
    background: @bright-color;
    border-radius: 100%;
    cursor: pointer;
    transition: all 200ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:hover {
      background: @vibrant-color;
      transform: scale(1.2);
      transition: transform 200ms ease;
    }
  }

  &:focus {
    outline: none;

    &::-webkit-slider-runnable-track,
    &::-webkit-slider-thumb {
      background: @vibrant-color;
    }
  }

  &:disabled {
    &::-webkit-slider-runnable-track,
    &::-webkit-slider-thumb {
      background: @disable-color;
    }

    &::-webkit-slider-thumb {
      cursor: default;

      &:hover {
        transform: none;
        transition: transform 200ms ease;
      }
    }
  }
}

[type='radio'] {
  position: relative;
  height: 18px;
  width: 18px;
  margin-right: 7px;
  border: 1px solid @bright-color;
  border-radius: 100%;
  cursor: pointer;
  transition: border 200ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 6px;
    width: 6px;
    margin: auto;
    border-radius: 100%;
    transform: scale(0);
    transition: all 200ms ease;
  }

  &:checked {
    border-width: 2px;

    &::before {
      background: @vibrant-color;
      transform: scale(1);
    }
  }

  &:focus {
    border: 2px solid @vibrant-color;
    outline: none;
  }

  &+label {
    cursor: pointer;
  }
}

.radio {
  cursor: pointer;
}

.logo-instacam {
  width: 170px;
  fill: @vibrant-color;
}

.logo-github {
  width: 80px;
}

.size {
  display: inline-block;
  padding-top: 10px;
  font-size: 30px;

  &.disabled {
    color: @disable-color;
  }

  small {
    font-size: 13px;
  }
}

.render {
  width: 400px;
  height: 300px;
  margin-bottom: 20px;
  background: @vibrant-color;
}

.log {
  display: block;
  max-width: 400px;
  margin-bottom: 50px;
  font-size: 13px;
  font-weight: 100;
  color: @vibrant-color;
  text-align: justify;
}

.preview {
  width: 400px;
  height: 300px;

  canvas {
    width: 94px;
    margin-right: 7px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.property {
  span {
    position: absolute;
    margin-left: 30px;
    transition: opacity 250ms ease, transform 250ms ease;
  }

  .value {
    opacity: 0;
    transform: translateY(-20px);
  }

  .update {
    opacity: 1;
    transform: translateY(0);

    &+.name {
      opacity: 0;
      transform: translateY(10px);
    }
  }
}

.link-author {
  color: @vibrant-color;
  .mm-highlight();
}

.link-license {
  .mm-highlight();
}
