.form {
  svg {
    width: 24px;
    height: 24px;
    fill: lighten(@color[base], 20%);
  }
}

.form-fieldset {
  margin: 0;
  padding: 0;
  border: none;

  legend {
    margin-bottom: 5px;
    font-family: @font[title];
    font-size: 20px;
    color: @color[vibrant];
    text-transform: uppercase;
  }
}

.form-fieldset-description {
  display: inline-flex;
  margin-bottom: @gutter[grid-margin] / 2;
  font-size: 12px;
  font-weight: 100;
}
