.sticky-container {
  position: sticky;
  top: 40px;
}

.render {
  width: 400px;
  height: 300px;
  background: @color[vibrant];
}

.preview {
  width: 400px;
  height: 300px;

  canvas {
    width: 94px;
    margin-right: 7px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

@media (max-width: 639px) {
  body {
    overflow-x: hidden;
  }

  main .shrink {
    padding: 0;
  }

  .render {
    width: 100vw;
    height: 75vw;
    max-width: 133vh;
    max-height: 100vh;
  }

  .log {
    padding: 0 15px;
    display: inline-block;
    max-width: none;
  }
}

@media (orientation: portrait) and (max-width: 639px) {
  .render {
    width: 100vw;
    height: 133vw;
  }
}
