@use '../theme/font';

body {
  margin-top: 40px;
  font-family: font.$base;
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
  line-height: 1.5;
  cursor: default;
  user-select: none;
}
